*{
  margin: 0;padding: 0;
}
body{
  background-color: aliceblue;
}
h1{
  font-family:'Courier New', Courier, monospace ;
  background:linear-gradient(to right,green,blue,rgb(255, 21, 99));
  background-clip: text;
  color: transparent;
  width: fit-content;
  margin:10px auto;
}
main{
  width: fit-content;
  padding: 1vw;
  margin: auto;
  box-shadow: 0 0 5px black;
  border-radius: 3px;
  position: relative;
}
section{
  width: 600px;
  max-width: 98vw;
  overflow: hidden;
}
.next,.prev{
  border-radius: 50%;
  padding: 4px;
  border: none;
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,.4);
  color: aliceblue;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: calc( 50% - 20px );
}
.next{
  right: 0;
}
.prev{
  left: 0;
}
.next:active,.prev:active{
  opacity: .7;
}
.roll{
  display: flex;
  width: 100%;
}
.slide{
  transition: .3s;
  width: 100%;
  animation: s2b .3s reverse linear;
}
img{
  max-width: 98vw;
}
p{
  text-align: center;
  background-color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
}

@keyframes s2b {
  100%{width: 0%;}
}

@media only screen and (max-width:600px){
  .next,.prev{
    font-size: 14px;
    cursor: none;
  }
}
